[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
beautifulsoup4 = "*"
flask = "*"
lxml = "*"
numpy = "*"
nltk = "*"
"pdfminer.six" = "*"
requests = "*"
tqdm = "*"
urllib3 = "*"
unicodecsv = "*"
pandas = "*"


[dev-packages]

