{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block heading %}About Us{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>What is See U Monday?</h3>
          <p>See U Monday (SUM) is a personalized job searching tool where the results are tailored to individual users based on their resume. Using SUM, the user can upload a resume in pdf format. The data available from that input resume will be parsed through the text to identify user’s skill set, and match the skill set with our documents that we have already built by crawling current top job searching tools such as Glassdoor and Indeed.</p>
            <p><b>For more information, please click: <a href="https://seeyoumonday.github.io/SeeYouMonday/">Read Me</a></b></p>
        </div>
        <div class="col-sm-4">
          <h3>Data Acquisition</h3>
          <p>We crawl from Monster. We create a list of potential job titles and iterative through the list by changing query parameters on the urls to crawl. Each job posting is a document and we store the job title, company name, location, and job description.</p>
            <p><b>For more information, please click: <a href="https://github.com/SeeYouMonday/SeeYouMonday/tree/master/crawl">Data Files</a></b></p>
    
        </div>
        <div class="col-sm-4">
          <h3>Evaluation</h3>
          <p>We conducted a user study to evaluate our final product.</p>
            <p><b>To better help us improve, please fill out this <a href="https://goo.gl/forms/tO5fqWhJezJv8N0t2">Survey</a></b></p>
        </div>
      </div>
    </div>
{% endblock %}


