{% extends "layout.html" %}
{% block title %}Visualization{% endblock %}
{% block heading %}Visualization{% endblock %}
<!-- {% block head %}
  {{ super() }}
  <style type="text/css">
    .important { 
      img { 
        width: 100%; height: 100%;}
        }
  </style>
{% endblock %} -->

{% block content %}
<img src="/static/viz/out.png" width="50%" height="auto">
<img src="/static/viz/software-engineer.png" width="50%" height="auto">
<img src="/static/viz/data-scientist.png" width="50%" height="auto">
<img src="/static/viz/computer-systems.png" width="50%" height="auto">
{#<a href="https://ibb.co/fDOvgx"><img src="https://preview.ibb.co/fyxz8c/out.png" alt="out" border="0"></a>#}
{#<a href="https://ibb.co/jTcXTc"><img src="https://preview.ibb.co/m8w3ZH/software_engineer.png" alt="software_engineer" border="0"></a>#}
{#<a href="https://ibb.co/iRCMMx"><img src="https://preview.ibb.co/kVfmoc/data_scientist.png" alt="data_scientist" border="0"></a>#}
{#<a href="https://ibb.co/fzoQEH"><img src="https://preview.ibb.co/hnqu8c/computer_systems.png" alt="computer_systems" border="0"></a>#}
{% endblock %}
